:root {
  --first-font: "Roboto", sans-serif;
  --second-font: "Raleway", sans-serif;
  --text-color-theme-dark: #ffffff;
  --main-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --transition-dur-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  background-color: var(--text-color-theme-dark);
  font-family: var(--first-font);
  font-size: 14px;
  color: var(--main-text-color);
  letter-spacing: 0.03em;
}
.accent {
  color: var(--accent-color);
}
h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
img {
  display: block;
}
button {
  cursor: pointer;
}
.container {
width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
/* header */

.header {
  padding: 24px 0px;
  border: 1px solid #ECECEC;;
}
.header .container {
  display: flex;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
        /* padding-top: 24px;
        padding-bottom: 25px; */
      }

.header-nav, 
.logo,
.header-menu,
 .contacts {
  display: flex;
  align-items: center;
}
.logo {
  font-family: var(--second-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--main-text-color);
  margin-right: 93px;
}
.header-menu {
  gap: 50px;
}

.header-menu-link {
  position: relative;
  /* display: inline-block; */
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 28px;
  padding-bottom: 28px;
  color: var(--main-text-color);
  transition: color var(--transition-dur-func);
}

.header-menu-link:hover,
.header-menu-link:focus {
  color: var(--accent-color);
}
.header-menu-link:hover::after,
.header-menu-link:focus::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}
.header-menu-link::after {
  content: "";
  transition: background-color var(--transition-dur-func);
}
.current {
  color: var(--accent-color);
}
.current::after {
  content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
}

.contacts {
  margin-left: auto;
  gap: 50px;
}
.contact-link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--secondary-text-color);
  display: flex;
  align-items: center;
  transition: color var(--transition-dur-func);
}
.contact-link:hover,
.contact-link:focus {
  color: var(--accent-color);
}
.mail-logo {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
}
.tel-logo {
  width: 10px;
    height: 16px;
    margin-right: 10px;
    fill: currentColor;
}

/* main */
.secttion {
  padding-top: 94px;
  padding-bottom: 94px;
  /* padding-left: 15px;
  padding-right: 15px; */
}

/*section 1*/

.main-section {
  
  padding-top: 200px;
  padding-bottom: 200px;
background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
 url('../img/bg-section-1.jpg');

 max-width: 1600px;
 margin: 0 auto;
background-size: cover;
background-repeat: no-repeat;
background-position: center;

background-color: #C4C4C4;
}
.section-text {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--text-color-theme-dark);
  /* padding-left: 252px;
  padding-right: 252px; */
  margin-left: auto;
  margin-right: auto;
  Width: 696px;
  Height: 120px
}
.section-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
margin: auto;
padding: 10px 32px 10px 32px;
margin-top: 30px;
border: none;
border-radius: 4px;

  color: var(--text-color-theme-dark);
  background-color: var(--accent-color);
}
.section-btn:hover,
.section-btn:focus {
  background-color: var(--accent-color);
}
/*section 2*/

.text-main-about {
  /* font-size: 0; */
position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.about-menu {
  display: flex;
  gap: 30px;
}
.about-menu-item {
  width: 270px;
}
.about-link {
    display: flex;
      align-items: center;
      justify-content: center;
  /* width: 270px; */
  height: 120px;
  margin-bottom: 30px;
  background: #F5F4FA;
  border-radius: 4px;
}
.about-icon {
  width: 70px;
  height: 70px;
}

.title-about {
  line-height: 1.14;
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.text-about {
  font-weight: 400;
  line-height: 1.71;
  color: var(--secondary-text-color);
  width: 270px;
}

/*section 3*/
.doing {
  padding-top: 0;
}
.section-title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}
.doing-menu {
  display: flex;
  gap: 30px;
  margin-top: 50px;
}
/*section 4*/
.team {
  background: #F5F4FA;
}
.section-title {
  margin-bottom: 50px;
}

.team-item {
  background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-img {
  padding-bottom: 30px;
}

.photo-team {
  display: flex;
  gap: 30px;
}
.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 10px;
}
.profession {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 16px;

  color: var(--secondary-text-color);
}
.social-list {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding-bottom: 30px;
}

.social-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color var(--transition-dur-func);
}
.social-list-link:hover,
.social-list-link:focus {
  background-color:var(--accent-color);
}
.social-list-link:hover .social-list-icon,
.social-list-link:focus .social-list-icon {
  fill: var(--text-color-theme-dark);
}
.social-list-icon {
  width: 20px;
  height: 20px;
  fill: #AFB1B8;
  transition: fill var(--transition-dur-func);
}
/*section 5*/
.clients-list {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.clients-link {
  display: flex;
    align-items: center;
    justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid #AFB1B8;
    border-radius: 4px;
    transition: border-color var(--transition-dur-func);
}

.clients-link:hover,
.clients-link:focus {
  border-color: var(--accent-color);
}

.clients-link:hover .clients-icon,
.clients-link:focus .clients-icon {
  fill: var(--accent-color);
}
.clients-icon {
  width: 106px;
  height: 60px;
  fill: #AFB1B8;
  transition: fill var(--transition-dur-func);
}

/*footer*/
.footer {
  background-color: #2f303a;
}
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}
.logo-footer {
  font-family: var(--second-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  color: var(--text-color-theme-dark);
  
  display: block;
  margin-bottom: 20px;
}

.address :not(:last-child) {
  margin-bottom: 9px;
}
.address-link {
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;

  color: var(--text-color-theme-dark);
}

.contact-link-footer {
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;

  color: rgba(255, 255, 255, 0.6);
  transition: color var(--transition-dur-func);
}
.contact-link-footer:hover,
.contact-link-footer:focus {
  color: var(--accent-color);
}
.footer-titel {
color: var(--text-color-theme-dark);
  font-weight: 700;
  line-height: 16px;
  margin-bottom: 20px;
  text-transform: uppercase;
}
/* .footer-colum-left {
margin-right: 70px;
} */
/* .footer-colum-right {
  margin-right: 70px;
} */

.footer-social-icon {
  fill: var(--text-color-theme-dark);
}

.footer-social-link {
  background-color: rgba(255, 255, 255, 0.1);
}
.social-list-link:hover,
.social-list-link:focus {
  background-color: var(--accent-color);
}

.social-list-link:hover .social-list-icon,
.social-list-link:focus .social-list-icon {
  fill: var(--text-color-theme-dark);
}
.footer .social-list {
  padding-bottom: 0;
}

.footer .container {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
.footer-modal-form {
  display: flex;
}
.footer-subscribe-input {
  box-sizing: border-box;

  margin-right: 12px;
  padding-left: 16px;
    width: 358px;
    height: 50px;
background-color: transparent;

    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: var(--text-color-theme-dark);
    
}
.footer-subscribe-submit {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  margin: auto;
  padding: 10px 32px 10px 32px;
  border: none;
  border-radius: 4px;

  color: var(--text-color-theme-dark);
  background-color: var(--accent-color);
}

.modal-form-submit:hover,
.modal-form-submit:focus {
  background-color: var(--accent-color);
}

.footer-subscribe-icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  fill:var(--text-color-theme-dark)
}

/* backdrop */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  transition: visibility 500ms ease, opacity 500ms ease;
}

.backdrop.is-hidden {
visibility: hidden;
opacity: 0;
pointer-events: none;
}

/* modal-window */

.modal {
  position: absolute;
  padding-left: 41px;
  padding-bottom: 40px;
  padding-right: 39px;
  padding-top: 40px;
  top: 50%;
  left: 50%;
  transform:translate(-50%, -50%);
  width: 528px;
  /* height: 581px; */
  background-color: var(--text-color-theme-dark);
}

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
width: 30px;
height: 30px;
border-radius: 50%;
background-color: transparent;
border: 1px solid rgba(0, 0, 0, 0.1);
padding: 0;
transition: border-color var(--transition-dur-func);
}
.modal-close-icon {
  width: 18px;
  height: 18px;
}

.modal-close-btn:hover,
.modal-close-btn:focus {
border-color: var(--accent-color);
}

/* modal-form */
.modal-form-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 12px;
  
    color: var(--main-text-color);
}

.modal-form-field {
  display: block;
  margin-bottom: 10px;
}
.modal-form-field-coment {
  margin-bottom: 20px;
}

.modal-form-input {
  width: 100%;  
    height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 42px;
    cursor: pointer;
    transition: border-color var(--transition-dur-func);
}

.modal-form-input:focus {
  outline: none;
  border-color: var(--accent-color);
 
}

.modal-form-field-desc {
  display: block;
  font-size: 12px;
  line-height: 1.17;

  letter-spacing: 0.01em;
  margin-bottom: 4px;

  color: var(--secondary-text-color);
 
}
.modal-form-input-icon {
  position: absolute;
width: 15px;
height: 12px;
top: 50%;
left: 12px;
transform: translateY(-50%);
transition: fill var(--transition-dur-func);
}

.modal-form-input:focus + .modal-form-input-icon {
  fill: var(--accent-color);
}

.modal-form-input-wrapper {
  position: relative;
  display: block;
}

.modal-form-text {
  display: block;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 12px 16px 12px 16px;
    resize: none;
    transition: border-color var(--transition-dur-func);
}

.modal-form-text:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form-check-field {
display: flex;
align-items: center;
margin-bottom: 30px;
justify-content: center;
line-height: 1.7;
color: var(--secondary-text-color);
}

.modal-form-check {
  position: absolute;
  appearance: none;

}

.modal-form-own-checkbox {
  width: 16px;
  height: 15px;
  /* padding: 4px 3px 2px 3px; */
  fill: var(--text-color-theme-dark);

  border: 2px solid var(--main-text-color);
  border-radius: 2px;
  /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
  cursor: pointer;
  margin-right: 10px;
 transition: border-color var(--transition-dur-func), background-color var(--transition-dur-func);
}

.modal-form-own-checkbox-icon {
  display: none;
}

.modal-form-link-agreement {
  color: var(--accent-color);
}
.modal-form-check:checked + .modal-form-own-checkbox {
  border-color: var(--accent-color);
  background-color:var(--accent-color);  
}

.modal-form-check:checked + .modal-form-own-checkbox .modal-form-own-checkbox-icon {
  display: block;
}
.modal-form-check:hover + .modal-form-own-checkbox,
.modal-form-check:focus + .modal-form-own-checkbox {
  box-shadow: 0 0 0 2px var(--accent-color);
}

.modal-form-submit {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  margin: auto;
  padding: 10px 32px 10px 32px;
  margin-top: 30px;
  border: none;
  border-radius: 4px;

  color: var(--text-color-theme-dark);
  background-color: var(--accent-color);
  transition: background-color var(--transition-dur-func);
}

.modal-form-submit:focus {
  background-color: #188CE8;
}
/*main portfolio*/
.portfolio { 
  /* font-size: 0; */
      position: absolute;
      width: 1px;
      height: 1px;
      margin: -1px;
      border: 0;
      padding: 0;
  
      white-space: nowrap;
      clip-path: inset(100%);
      clip: rect(0 0 0 0);
      overflow: hidden;
  
}
.portfolio-menu {
  display: flex;
justify-content: center;
  margin-bottom: 50px;
  gap: 8px;
  text-decoration: underline;
}
.main-portfolio-section {
  background-color: var(--text-color-theme-dark);
}

.portfolio-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
border-radius: 4px;
  padding: 6px 22px 6px 22px;
    background: #F5F4FA;
    border: none;
    transition: background-color var(--transition-dur-func), color var(--transition-dur-func), box-shadow var(--transition-dur-func);
}

.btn-all {
  background-color: var(--accent-color);
  color: var(--text-color-theme-dark);
  padding: 6px 25px 6px 25px;
 
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  background-color: var(--accent-color);
  color: var(--text-color-theme-dark);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.project-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
  
.project-item {
  
  background: #FFFFFF;
    border: 1px solid #EEEEEE;
    width: calc((100% - 60px) / 3);
    transition: box-shadow var(--transition-dur-func);
}
.project-item:hover,
.project-item:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.project-img {
width: 370px;
height: 294px;
  max-width: 100%;
  /* height: auto; */
}
.project-menu-img-wrapper {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
    top: 0;
    left: 0;
    font-weight: 400;
      font-size: 18px;
      line-height: 28px;
      height: 100%;
      width: 100%;

      letter-spacing: 0.03em;
   padding: 63px 24px 63px 24px;
    background: rgba(33, 150, 243, 0.9);
    color: var(--text-color-theme-dark);
    overflow: auto;
    transform: translateY(100%);
    transition: transform var(--transition-dur-func);
}
.project-item:hover .overlay {
  transform: translateY(0);
}

.name-project {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  padding: 20px 24px 0 24px;
  color: var(--main-text-color);
}
.name-poject-direction {
  font-size: 16px;
  line-height: 1.88;

  color: var(--secondary-text-color);
  margin-top: 4px;
  padding: 0 24px 20px 24px;
}
